# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Allure
allure
allure-report
allure/allure-report
allure/allure-results/*.xml
allure/allure-results/[!environment].xml
allure/allure-results/history
allure/allure-results/*.png
allure-results

#Misc
testlog/*
*.log
*.png
package-lock.json
output/*.xml